# Puerto en el que ejecutará la aplicación Express
PORT=3000

# Parámetros de conexión para MySQL (XAMPP / WAMP / Docker / Local)
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=tu_contraseña_aqui
DB_NAME=Score
DB_PORT=3306
